.env
confid.txt
mindscope
src.egg-info
notebook/*.csv
artifact
logs
**/__pycache__/
test.py
mindscope-mlops_accessKeys.csv
mindscope-ci-user_accessKeys.csv
toprep.txt
zz.yaml
test_aws.py
test_prediction.py